<ul>
  <li *ngFor="let step of steps; let i = index;">
    <app-tour-step [step]="step"
                   [stepLength]="steps.length"
                   (stepRemoved)="removeStep(i)"></app-tour-step>
  </li>
  <li data-content="add-step"><button class="action" (click)="addStep()">Add point</button></li>
</ul>

<app-modal-window id="stepRemovePopup">
  <p>Are you really sure you want to delete this step?</p>
  <p>
    <button (click)="confirmRemove()">Remove</button>
    <button (click)="closeModal()">Cancel</button>
  </p>
</app-modal-window>
