<div [formGroup]="form">
  <div>
    <div data-content="location-block">
      <p data-content="step-header">
        <label for="location">Step title</label>
        <button *ngIf="stepLength > 1" (click)="onStepRemoved()" class="action">
          <i class="fa fa-minus"></i>
        </button>
      </p>
      <p>
        <input type="text"
               formControlName="location"
               id="location"
               placeholder="Enter your location here"
               autocorrect="off"
               autocapitalize="off"
               spellcheck="off"
               [(ngModel)]="step.title"
               [maxLength]="200">

        <button pTooltip="Open description"
                tooltipPosition="top"
                class="action"
                (click)="changeShowDescription()"><i class="fa fa-plus"></i></button>
      </p>
      <span *ngFor="let error of errorsOf(f.get('location'))" class="validation">{{error}}</span>
    </div>
    <div *ngIf="showDescription" data-content="textarea-block">
      <label for="description">Description</label>
      <textarea formControlName="description"
                id="description"
                [(ngModel)]="step.description"
                [maxLength]="400"></textarea>
      <span *ngFor="let error of errorsOf(f.get('description'))" class="validation">{{error}}</span>
    </div>
  </div>
  <div data-content="calendar">
    <p-calendar showTime="true"
                hourFormat="24"
                showButtonBar="true"
                (onSelect)="setStepDate($event)"
                [showIcon]="true">
    </p-calendar>
  </div>
</div>
