@import "mixins/vars";
@import "mixins/inputs";
@import "mixins/colors";

button {
  @include button;
}

[data-content="location-block"] {
  > label {
    margin-bottom: 0;
  }

  > p {
    display: flex;
    margin-bottom: 0;
    align-items: center;

    input[type="text"] {
      @include input-text;
    }

    button {
      margin-left: $M;
    }
  }
}

[data-content="textarea-block"] {
  margin-top: $S;

  > label {
    margin-bottom: 0;
  }

  textarea {
    @include textarea;
  }
}
