<div [formGroup]="form">
  <div data-content="location-block">
    <p data-content="step-header">
      <label for="location">Location for step <span data-content="step-index">{{ stepIndex + 1 }}</span></label>
      <button *ngIf="stepLength > 1" (click)="onStepRemoved()" class="action">
        <i class="fa fa-minus"></i>
      </button>
    </p>
    <p>
      <input type="text"
             formControlName="location"
             id="location"
             placeholder="Enter your location here"
             autocorrect="off"
             autocapitalize="off"
             spellcheck="off"
             (keydown.enter)="$event.preventDefault()"
             [(ngModel)]="step.location"
             [maxLength]="200"
             #searchLocation>
    </p>
    <span *ngFor="let error of errorsOf(f.get('location'))" class="validation validation-error">{{error}}</span>
  </div>
  <div data-content="calendar">
    <label for="stepDate">Date & time</label>
    <p-calendar id="stepDate"
                formControlName="calendar"
                showTime="true"
                hourFormat="24"
                showButtonBar="true"
                (onSelect)="setStepDate($event)">
    </p-calendar>
    <span *ngFor="let error of errorsOf(f.get('calendar'))" class="validation validation-error">{{error}}</span>
  </div>
  <div data-content="textarea-block">
    <label for="description">Description</label>
    <textarea formControlName="description"
              id="description"
              [(ngModel)]="step.description"
              [maxLength]="400"></textarea>
    <span *ngFor="let error of errorsOf(f.get('description'))" class="validation validation-error">{{error}}</span>
  </div>
<!--  <div data-content="show-route" *ngIf="notLast()">-->
  <div data-content="show-route">
    <label class="checkbox">
      <input [(ngModel)]="step.showRouteToNext"
             [ngModelOptions]="{standalone: true}"
             type="checkbox">
      <span>Show route to the next point</span>
    </label>

    <ng-container *ngIf="step.showRouteToNext">
      <label  [for]="'route-type-' + stepIndex">Type of movement:</label>
      <select [name]="'route-type-' + stepIndex"
              [id]="'route-type-' + stepIndex"
              [value]="this.step.travelModeToNext"
              (change)="updateRouteType($event)">
        <option value="WALKING">Walking</option>
        <option value="DRIVING">Driving</option>
        <option value="BICYCLING">Bicycling</option>
      </select>
    </ng-container>
  </div>
</div>
