<h1>Hi, lets start your tour creation:</h1>
<form [formGroup]="createTourForm">
  <fieldset>
    <legend>Basic tour information:</legend>
    <div>
      <input type="text" id="tourName" formControlName="tourName">
      <label for="tourName">Tour name</label>
    </div>
    <div data-content="tourCharacters">
      <label>Please set the characters of your tour</label>
      <ul>
        <li data-content="character" *ngFor="let character of tourCharacters; let i = index">
          <input type="checkbox"
                 [formControlName]="tourCharacters[i]"
                 [id]="tourCharacters[i]">
          <label [for]="tourCharacters[i]">{{ character }}</label>
        </li>
      </ul>
    </div>
    <div>
      <input type="text" id="tourDescription" formControlName="tourDescription">
      <label for="tourDescription">Tour description</label>
    </div>
    <div data-content="tour-timing">
      <label>Time of your tour</label>
      <div data-content="tour-periodicity-mode">
        <p>
          <input type="radio" id="periodicityOnce">
          <label for="periodicityOnce">Once</label>
        </p>
        <p>
          <input type="radio" id="periodicityRegular">
          <label for="periodicityRegular">Regularly</label>
        </p>
      </div>
      <div data-content="tour-periodicity">
        <p-calendar [(ngModel)]="value"></p-calendar>
      </div>
    </div>
  </fieldset>
</form>
