<ul *ngIf="myTours$ | async as myTours">
  <li data-content="tour" *ngFor="let tour of myTours">
    <div>
      <p><a [routerLink]="['/owntours/edit/', tour.id]">{{tour.tourName}}</a></p>
      <p>{{tour.peopleNumber}} people</p>
      <div data-content="tag" *ngIf="tour.tourTags.length > 0">
        Tags: <ul><li *ngFor="let tag of tour.tourTags">{{ tag }}</li></ul>
      </div>
      <div data-content="restriction" *ngIf="tour.tourRestrictions.length > 0">
        Restrictions: <ul><li *ngFor="let restr of tour.tourRestrictions">{{ restr }}</li></ul>
      </div>
    </div>
  </li>
</ul>
