@import "mixins/vars";
@import "mixins/colors";
@import "mixins/inputs";

[data-content="tag-menu"] {
  [data-content="tag-input"] {
    @include input-text;
  }
}

[data-content="tag-tips-list"] {
  > ul {
    > li {
      padding: $S;
      font-size: $font-L;
    }
  }
}

ul[data-content="selected-tags"] {
  > li {
    display: inline-block;
    margin-right: $M;

    &:last-child {
      margin-right: 0;
    }
  }
}

[data-content="clear-text"] {
  color: $grey;
  position: relative;
  left: -2em;
}

::ng-deep app-dummy-rows {
  > ul {
    width: 15.75em;
  }
}
