<div>
  <div data-content="tag-menu">
    <input type="text" #tagInput data-content="tag-input" (input)="updateHint()">
    <span *ngIf="!tagInputEmpty()" data-content="clear-text" (click)="clearInput()"><i class="fa fa-times-circle"></i></span>
  </div>
  <div data-content="tag-tips-list">
    <ul *ngIf="!isLoading && tagsInHint.length != 0">
      <li *ngFor="let tag of tagsInHint">
        <a href="javascript:void(0);" (click)="addTag(tag)">{{tag}}</a>
      </li>
    </ul>
    <p *ngIf="!isLoading && !tagInputEmpty() && tagsInHint.length == 0">
      <span>No tags fit entered text...</span>
      <button (click)="createOwnTag()">Add to tags</button>
    </p>
    <app-dummy-rows *ngIf="isLoading && !tagInputEmpty()"></app-dummy-rows>
  </div>
  <ul data-content="selected-tags" *ngIf="selectedTags">
    <li *ngFor="let tag of selectedTags">
      <span>{{tag}}</span>
      <span data-content="remove-tag" (click)="deleteTag(tag)"><i class="fa fa-times-circle"></i></span>
    </li>
  </ul>
</div>
