@import "mixins/vars";
@import "mixins/colors";

ul[data-content="selected-tags"] {
  > li {
    display: inline-block;
    margin-right: $M;

    &:last-child {
      margin-right: 0;
    }
  }
}

[data-content="clear-text"] {
  color: $grey;
  position: relative;
  left: -2em;
}
