<div [formGroup]="form">
  <div data-content="value-block">
    <p>
      <input type="text"
             formControlName="value"
             [maxLength]="200"
             (input)="emitValueAndDescription()">
      <button *ngIf="!mandatoryDescription"
              pTooltip="Open description"
              tooltipPosition="top"
              class="action"
              (click)="changeShowDescription()"><i class="fa fa-plus"></i></button>
    </p>
    <span *ngFor="let error of errorsOf(f.get('value'))" class="validation">{{error}}</span>
  </div>
  <div data-content="textarea-block">
    <textarea *ngIf="showDescription"
              formControlName="description"
              [maxLength]="400"
              (input)="emitValueAndDescription()"></textarea>
    <span *ngFor="let error of errorsOf(f.get('description'))" class="validation">{{error}}</span>
  </div>
</div>
