@import "mixins/vars";
@import "mixins/inputs";


.pipe-step {
  margin-bottom: $XXXXL;
}

[data-content="steps-map-pipe"] {
  display: flex;

  > ul {
    flex: 1;

    > li {
      &:last-child {
        > button {
          @include button;
        }
      }
    }
  }

  > agm-map {
    flex: 3;
    padding-left: 2em;
    height: 300px;
  }
}
