@import "mixins/vars";


[data-content="steps-map-pipe"] {
  display: flex;

  > .pipe-step {
    margin-bottom: $XXXXL;
  }

  > app-tour-steps {
    flex: 1;
  }

  > .map-wrapper {
    flex: 3;
    padding-left: 2em;

    > agm-map {
      height: 300px;
    }
  }
}
