<h1>Create your route:</h1>

<div class="pipe-step">
  <h2>Set tags which fits to theme of the route</h2>
  <app-tag-select></app-tag-select>
</div>

<div class="pipe-step">
  <h2>Select geo locations on your tour</h2>

  <div data-content="steps-map-pipe">
    <app-tour-steps (stepsUpdated)="setSteps($event)"></app-tour-steps>

    <agm-map [latitude]="userLat" [longitude]="userLng">
<!--      <agm-marker *ngFor="let step of steps"-->
<!--                  [latitude]="step.place.geometry.location.lat()"-->
<!--                  [longitude]="step.place.geometry.location.lng()"></agm-marker>-->
    </agm-map>
  </div>
</div>
