@import "mixins/vars";


.pipe-step {
  margin-bottom: $XXXXL;
}

[data-content="steps-map-pipe"] {
  display: flex;

  > app-tour-steps {
    flex: 1;
  }

  > agm-map {
    flex: 3;
    padding-left: 2em;
    height: 300px;
  }
}
