<h1>Create your route:</h1>

<div class="pipe-step">
  <h2>Set tags which fits to theme of the route</h2>
  <app-tag-select></app-tag-select>
</div>

<div class="pipe-step">
  <h2>Select geo locations on your tour</h2>

  <div data-content="steps-map-pipe">
    <ul>
      <li *ngFor="let step of steps; let i = index;">
        <app-tour-step [step]="step"
                       [stepLength]="steps.length"
                       (stepRemoved)="removeStep(i)"></app-tour-step>
      </li>
      <li data-content="add-step"><button class="action" (click)="addStep()">Add point</button></li>
    </ul>

    <agm-map [latitude]="userLat" [longitude]="userLng">
<!--      <agm-marker *ngFor="let step of steps"-->
<!--                  [latitude]="step.place.geometry.location.lat()"-->
<!--                  [longitude]="step.place.geometry.location.lng()"></agm-marker>-->
    </agm-map>
  </div>
</div>

<app-modal-window id="stepRemovePopup">
  <p>Are you really sure you want to delete this step?</p>
  <p>
    <button (click)="confirmRemove()">Remove</button>
    <button (click)="closeModal()">Cancel</button>
  </p>
</app-modal-window>
