<div data-content="carousel">
  <p-carousel *ngIf="step.images.length > 0"
              [value]="step.images"
              [numVisible]="3"
              [numScroll]="3"
              [circular]="false">
    <ng-template let-img pTemplate="rowexpansion">
      <img [src]="img.src" [alt]="step.location" (click)="openImgModal(img)">
    </ng-template>
  </p-carousel>
</div>

<div data-content="data-upload-area"
     app-drag-and-drop
     (fileDropped)="onFilesDropped($event)">
  <p>Select or drag your images here!</p>
  <!-- todo only images -->
  <input type="file"
         multiple
         [id]="'fileInput-' + this.stepIndex"
         (change)="onFilesSelected($event)"/>
  <label [for]="'fileInput-' + stepIndex"
         class="action">Choose</label>
</div>

<app-modal-window id="imageView">
  <div data-content="showImage" *ngIf="step.images.length > 0 && modalOpened">
    <p-carousel (onPage)="setSelectedImage($event)"
                [value]="step.images"
                [numVisible]="1"
                [page]="this.modalImage"
                [numScroll]="1"
                [circular]="false">
      <ng-template let-img pTemplate="rowexpansion">
        <img [src]="img.src" [alt]="step.location">
      </ng-template>
    </p-carousel>
    <p>
      <button (click)="removeCurrentImage()">Remove</button>
      <button (click)="closeImgModal()">Cancel</button>
    </p>
  </div>
</app-modal-window>
