<div data-content="carousel">

<!-- TODO default alt when @input is not provided -->
  <p-carousel *ngIf="imageSelections.length > 0"
              [value]="imageSelections"
              [numVisible]="3"
              [numScroll]="3"
              [circular]="false">
    <ng-template let-img pTemplate="rowexpansion">
      <img [src]="img.src" [alt]="stepTitle" (click)="openImgModal(img)">
    </ng-template>
  </p-carousel>
</div>

<div data-content="data-upload-area" app-drag-and-drop (fileDropped)="onFilesDropped($event)">
  <p>Select or drag your images here!</p>
  <!-- todo only images -->
<!--  todo step number in id -->
  <input type="file"
         multiple
         [id]="'fileInput'"
         (change)="onFilesSelected($event)"/>
  <label [for]="'fileInput'"
         class="action">Choose</label>
</div>

<!-- todo to use ng-template ad variable -->
<app-modal-window id="imageView">
  <ng-container *ngIf="imageInModal">
    <div data-content="showImage">
      <img [src]="imageInModal.src" [alt]="stepTitle">

      <p-carousel *ngIf="imageSelections.length > 0"
                  [value]="imageSelections"
                  [numVisible]="3"
                  [page]="i"
                  [numScroll]="3"
                  [circular]="false">
        <ng-template let-img pTemplate="rowexpansion">
          <img [src]="img.src" [alt]="stepTitle" (click)="openImgModal(img)">
        </ng-template>
      </p-carousel>

      <p>
        <button (click)="remove()">Remove</button>
        <button (click)="closeImgModal()">Cancel</button>
      </p>
    </div>
  </ng-container>
</app-modal-window>
