@import "mixins/inputs";
@import "mixins/vars";
@import "mixins/reset";
@import "styles/mixins/validation";

@include reset;

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: $font-XXL;
  margin: $XL 0;
}

h2 {
  font-size: $font-XL;
  margin: $L 0;
}

h3 {
  font-size: $font-L;
  margin: $M 0;
}

label {
  margin-bottom: $L;
  display: block;
}

input,
textarea,
button {
  outline: none;
  margin-bottom: $XL;

  &:focus {
    outline: none;
  }
}

ul, ol {
  list-style: none;
  padding-left: 0;

}


// footer to bottom

html, body {
  height: 100%;
}
