@import "mixins/inputs";
@import "mixins/reset";

@include reset;

* {
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea,
button {
  outline: none;

  &:focus {
    outline: none;
  }
}


ul, ol {
  list-style: none;
  padding-left: 0;

}
