@import "mixins/vars";
@import "mixins/colors";

@mixin input-text {
  padding: $S;
  outline: none;
  border-radius: $M;
  background-color: $white;
  border: 1px solid $grey;
  min-width: 18em;
}

@mixin textarea {
  padding: $S;
  outline: none;
  border-radius: $M;
  background-color: $white;
  border: 1px solid $grey;
  resize: vertical;
  width: 100%;
  min-height: 100px;
  max-height: 200px;
}

@mixin button {
  border-radius: $M;
  padding: $S;
  font-size: $font-L;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border: 0;
  cursor: pointer;

  &.action {
    background-color: #55acee;

    &:hover {
      background-color: #6FC6FF;
    }
  }

  &.confirmation {
    background-color: $slime-green;

    &:hover {
      background-color: #0ed014;
    }
  }

  &:disabled {
    background-color: $grey;
  }

  &.btn-L {
    padding: $S $M;
    font-size: $font-XL;
  }
}



