@import "mixins/vars";
@import "mixins/colors";

@mixin input-text {
  padding: $S;
  outline: none;
  border-radius: $M;
  background-color: $white;
  border: 1px solid $grey;
  min-width: 18em;
}

@mixin checkbox {
  margin-bottom: $XL;

  > input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    top: -9999px;

    + span {
      position: relative;
      display: flex;
      align-items: center;


      &:after {
        content: '';
        display: inline-block;
        cursor: pointer;
        padding:3px;
        margin-left: $S;
        border-radius: 50%;
        width: $M;
        height: $M;
        line-height: 0.75em;
        background-color: $white;
        border: 1px solid $slime-green;
      }
    }

    &:checked {
      + span:after {
        font-family: FontAwesome;
        color: $slime-green;
        content: "\f00d";
      }
    }
  }
}

@mixin select {
  padding: $S;
  outline: none;
  border-radius: $M;
  background-color: $white;
  border: 1px solid $grey;
  min-width: 18em;
  font-size: $font-M;
}

@mixin textarea {
  padding: $S;
  outline: none;
  border-radius: $M;
  background-color: $white;
  border: 1px solid $grey;
  resize: vertical;
  width: 100%;
  min-height: 100px;
}

@mixin button {
  border-radius: $M;
  padding: $S;
  font-size: $font-L;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border: 0;
  cursor: pointer;

  &.action {
    background-color: #55acee;

    &:hover {
      background-color: #6FC6FF;
    }
  }

  &.confirmation {
    background-color: $slime-green;

    &:hover {
      background-color: $green;
    }
  }

  &:disabled {
    background-color: $grey;

    &:hover {
      background-color: $grey;
    }
  }

  &.btn-L {
    padding: $S $M;
    font-size: $font-XL;
  }
}



