@import "mixins/vars";
@import "mixins/colors";

@mixin input-text {
  padding: $S;
  margin: $S 0;
  outline: none;
  border-radius: $M;
  background-color: $white;
  border: 1px solid $grey;
  width: 100%;
}

@mixin textarea {
  padding: $S;
  margin: $M 0;
  outline: none;
  border-radius: $M;
  background-color: $white;
  border: 1px solid $grey;
  resize: none;
  width: 100%;
}

@mixin button {
  border-radius: $M;
  padding: $S;
  font-size: $font-L;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border: 0;
  cursor: pointer;

  &.action {
    background-color: #55acee;

    &:hover {
      background-color: #6FC6FF;
    }
  }
}
