// font sizes
$font-XXXL: 1.75rem; // 28px
$font-XXL: 1.5rem; // 24px
$font-XL: 1.25rem; // 20px
$font-L: 1rem; // 16px
$font-ML: 0.938rem; // 15px
$font-M: 0.875rem; // 14px
$font-S: 0.8125rem; // 13px
$font-XS: 0.75rem; // 12px
$font-XXS: 0.5rem; // 12px

// font-weights
$font-bold: 700;
$font-regular: 400;
$font-light: 300;

$XXXXL: 4.56em;
$XXXL: 1.75em;
$XXL: 1.563em;
$XL: 1.3125em;
$L: 1em;
$M: 0.75em;
$S: 0.5em;
$XS: 0.3125em;
$XXS: 0.25em;
$XXXS: 0.1875em;

$content-width: 1200px;
