@import "mixins/colors";
@import "mixins/vars";

ul {
  background-color: $white;

  > li {
    margin-top: $M;
    margin-left: $M;
    background-color: $grey;
    height: $font-XL;
    font-size: $font-L;
    line-height: $font-XL;
  }
}
